/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

/* *{
    border: 2px solid black;
} */
*{
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* Header  */
.navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: white;
}

.navbar>ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 50px;
}

.logo{
    background-image: url(../images/spotify-logo.png);
    background-size:contain;
    background-repeat: no-repeat;
    flex: 0 1 20%;
}

.cover{
    margin-top: 75px;
}
