/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

/* *{
    border: 2px solid black;
} */

ul{
    list-style: none;

}

a{
    text-decoration: none;

}

/* Header  */
.navbar{
    display: flex;
}

.navbar>ul{
    display: flex;
    gap: 20px;
}

.logo{
    background-image: url(../images/spotify-logo.png);
    background-size: cover;
    width: 100px;
}


